<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link>|
      <router-link to="/about">About</router-link>
    </div>-->
    <router-view />
    <notifications /> 
    <!-- position="top center" -->
    <!-- group="foo"  -->
  </div>
</template>

<script>
// import axios from "axios";
// export default {
//   created: function() {
//     axios.interceptors.response.use(undefined, function(err) {
//       return new Promise(function() {
//         if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
//           // if you ever get an unauthorized, logout the user
//           this.$store.dispatch("setToken", null).then(() => {
//             this.$store.dispatch("setUser", null);
//             this.$router.push({ name: "Login" });
//           });
//           // you can also redirect to /login if needed !
//         }
//         throw err;
//       });
//     });
//   }
// };
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
