<template>
  <div class="admin-create-user">
    <AdminStoreUser />
  </div>
</template>

<script>
import AdminStoreUser from "@/components/AdminStoreUser.vue";

export default {
  name: "AdminCreateUser",
  components: {
    AdminStoreUser
  }
};
</script>