<template>
  <div class="admin-panel">
    <AdminAccount />
  </div>
</template>

<script>
import AdminAccount from "@/components/AdminAccount.vue";

export default {
  name: "AdminPanel",
  components: {
    AdminAccount
  }
};
</script>