<template>
  <div class="admin-update-user">
    <AdminPutUser />
  </div>
</template>

<script>
import AdminPutUser from "@/components/AdminPutUser.vue";

export default {
  name: "AdminUpdateUser",
  components: {
    AdminPutUser
  }
};
</script>