<template>
  <div class="admin-balance">
    <AdminListUsers />
  </div>
</template>

<script>
import AdminListUsers from "@/components/AdminListUsers.vue";

export default {
  name: "AdminUsersList",
  components: {
    AdminListUsers
  }
};
</script>