<template>
  <div>
    <div class="grid grid-cols-2">
      <div class="col-span-1 img bg-no-repeat bg-cover h-screen"></div>
      <div class="col-span-1 flex flex-col items-center">
        <Welcome />
        <div class="mt-64">
          <Menu />
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="home my-bg bg-no-repeat bg-auto h-screen w-screen">
    <div class="flex justify-center">
      <Welcome />
    </div>
  </div>-->
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import Welcome from "@/components/Welcome.vue";
import Menu from "@/components/Menu.vue";

export default {
  name: "Home",
  components: {
    Welcome,
    Menu
  }
};
</script>

<style scoped>
.img {
  background-image: url(../assets/images/bg.jpg);
}
</style>
