<template>
  <div class="lands-map">
    <LandsGlobalMap />
    <div class="mt-32 flex justify-center">
      <Menu/>
    </div>
  </div>
</template>

<script>
import LandsGlobalMap from "@/components/LandsGlobalMap.vue";
import Menu from "@/components/Menu.vue";

export default {
  name: "LandsInMapForAll",
  components: {
    LandsGlobalMap,
    Menu
  }
};
</script>