<template>
  <div class="login">
    <div class="grid grid-cols-2">
      <div class="col-span-1 img bg-no-repeat bg-cover h-screen"></div>
      <div class="col-span-1 flex flex-col items-center">
        <LoginComponent />
        <div class="mt-64">
          <Menu />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoginComponent from "@/components/Login.vue";
import Menu from "@/components/Menu.vue";

export default {
  name: "Login",
  components: {
    LoginComponent,
    Menu
  }
};
</script>

<style scoped>
.img {
  background-image: url(../assets/images/bg.jpg);
}
</style>