<template>
  <div class="notary-showlandlocation">
    <NotaryshowLocation />
  </div>
</template>

<script>
import NotaryshowLocation from "@/components/NotaryshowLocation.vue";

export default {
  name: "NotaryLandInMap",
  components: {
    NotaryshowLocation
  }
};
</script>