<template>
  <div class="notary-panel">
    <NotaryAccount />
  </div>
</template>

<script>
import NotaryAccount from "@/components/NotaryAccount.vue";

export default {
  name: "NotaryPanel",
  components: {
    NotaryAccount
  }
};
</script>