<template>
  <div class="notary-land-store">
    <NotaryLandStore />
  </div>
</template>

<script>
import NotaryLandStore from "@/components/NotaryLandStore.vue";

export default {
  name: "NotaryStoreLand",
  components: {
    NotaryLandStore
  }
};
</script>