<template>
  <div class="notary-land-historical">
    <NotaryHistoricalOfLand />
  </div>
</template>

<script>
import NotaryHistoricalOfLand from "@/components/NotaryHistoricalOfLand.vue";

export default {
  name: "NotaryLandHistorical",
  components: {
    NotaryHistoricalOfLand
  }
};
</script>