<template>
  <div class="notary-land-update">
    <NotaryLandUpdate />
  </div>
</template>

<script>
import NotaryLandUpdate from "@/components/NotaryLandUpdate.vue";

export default {
  name: "NotaryUpdateLand",
  components: {
    NotaryLandUpdate
  }
};
</script>