<template>
  <div class="notary-balance">
    <NotaryBalance />
  </div>
</template>

<script>
import NotaryBalance from "@/components/NotaryBalance.vue";

export default {
  name: "NotaryLandBalance",
  components: {
    NotaryBalance
  }
};
</script>