<template>
  <div class="owner-update">
    <UpdateAccount />
  </div>
</template>

<script>
import UpdateAccount from "@/components/UpdateAccount.vue";

export default {
  name: "OwnerUpdate",
  components: {
    UpdateAccount
  }
};
</script>