<template>
  <div class="owner-panel">
    <Account />
  </div>
</template>

<script>
import Account from "@/components/Account.vue";

export default {
  name: "OwnerPanel",
  components: {
    Account
  }
};
</script>