<template>
  <div class="owner-balance">
    <Balance />
  </div>
</template>

<script>
import Balance from "@/components/Balance.vue";

export default {
  name: "OwnerBalance",
  components: {
    Balance
  }
};
</script>