<template>
  <div class="owner-register">
    <div class="grid grid-cols-2">
      <div class="col-span-1 img bg-no-repeat bg-cover h-screen"></div>
      <div class="col-span-1 flex flex-col items-center">
        <Register />
        <div class="mt-6">
          <Menu />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Register from "@/components/Register.vue";
import Menu from "@/components/Menu.vue";

export default {
  name: "OwnerRegister",
  components: {
    Register,
    Menu
  }
};
</script>

<style scoped>
.img {
  background-image: url(../assets/images/bg.jpg);
}
</style>