<template>
  <div class="owner-transfer">
    <TransferTo />
  </div>
</template>

<script>
import TransferTo from "@/components/TransferTo.vue";

export default {
  name: "OwnerTransferTo",
  components: {
    TransferTo
  }
};
</script>