<template>
  <div class="owner-showlocation">
    <showLocation />
  </div>
</template>

<script>
import showLocation from "@/components/showLocation.vue";

export default {
  name: "OwnerShowLocation",
  components: {
    showLocation
  }
};
</script>