<template>
  <div class="owner-land-historical">
    <ViewHistorical />
  </div>
</template>

<script>
import ViewHistorical from "@/components/ViewHistorical.vue";

export default {
  name: "OwnerLandHistorical",
  components: {
    ViewHistorical
  }
};
</script>