<template>
  <div>
    <NavBar />
    <div class="flex content-center justify-center mt-32">
      <div class="w-8/12 rounded-lg overflow-hidden shadow-lg">
        <div class="px-6 py-4 border-t-2 border-b-2 border-gray-200 mb-4">
          <div class="font-bold text-xl mb-6 flex justify-between">
            <a class="cursor-default">Mon compte</a>
            <a
              @click="goTo({name:'OwnerUpdate'})"
              class="cursor-pointer font-bold mb-6 inline-block text-sm border px-4 py-2 rounded hover:border-transparent hover:text-blue-400 hover:bg-gray-200 fill-current bg-orange-400"
            >Modifier</a>
          </div>

          <p class="text-gray-700 text-base"></p>
        </div>

        <div class="h-auto">
          <div class="flex mb-4">
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Nom et prénom(s)</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="user.name"
                disabled
              />
            </div>
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Email</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="user.email"
                disabled
              />
            </div>
          </div>

          <div class="flex mb-10 mt-10">
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Téléphone</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="user.phone"
                disabled
              />
            </div>
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Adresse Ethereum Publique</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="user.publickey"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBar
  },
  data() {
    return {
      user: {
        name: "",
        email: "",
        publickey: "",
        phone: ""
      }
    };
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  created: function() {
    this.user.name = this.getUser.name;
    this.user.email = this.getUser.email;
    this.user.publickey = this.getUser.publickey;
    this.user.phone = this.getUser.phone;
  },
  methods: {
    goTo(route) {
      this.$router.push(route);
    }
  }
};
</script>