<template>
  <div>
    <NavBarAdmin />

    <div class v-if="show">
      <h1 class="text-center text-4xl font-serif uppercase my-8 mx-4">Utilisateurs</h1>

      <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto lg:px-8">
          <!--  sm:-mx-6 sm:px-6 lg:-mx-8  -->
          <div
            class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
          >
            <div class="pl-4" @click="ActionToDo({name:'AdminCreateUser'})">
              <svg
                class="cursor-pointer h-12 w-12 fill-current text-blue-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 1.6a8.4 8.4 0 100 16.8 8.4 8.4 0 000-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"
                />
              </svg>
            </div>
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                  >Utilisateur</th>
                  <th
                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                  >Compte</th>
                  <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr v-for="user in data" :key="user.id">
                  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" src="../assets/images/user.png" alt />
                      </div>
                      <div class="ml-4">
                        <div class="text-sm leading-5 font-medium text-gray-900">{{user.name}}</div>
                        <div class="text-sm leading-5 text-gray-500">{{user.email}}</div>
                        <div class="text-sm leading-5 text-gray-500">{{user.phone}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                      v-if="user.account == 'owner'"
                    >{{user.account}}</span>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800"
                      v-if="user.account == 'notary'"
                    >{{user.account}}</span>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                      v-if="user.account == 'admin'"
                    >{{user.account}}</span>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium"
                  >
                    <a
                      @click="ActionToDo({name:'AdminUpdateUser',params:{id: user.id}})"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900"
                    >Modifier</a>
                    <br />
                    <a
                      @click="showModal(user.id)"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900"
                    >Supprimer</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-20" v-else>
      <div class="w-3/6 items-center">
        <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <p>Aucune information disponible.</p>
        </div>
      </div>
    </div>

    <modalForDelete v-show="isModalVisible" @close="closeModal" @del="DeleteUser" />
  </div>
</template>

<script>
require("dotenv").config();
import NavBarAdmin from "@/components/NavBarAdmin.vue";
import AdminService from "@/services/AdminService";
import modalForDelete from "@/components/AdminDeleteModal.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBarAdmin,
    modalForDelete
  },
  data() {
    return {
      isModalVisible: false,
      show: false,
      currentId: "",
      data: [],
      baseUrl: process.env.VUE_APP_SERVER_BASE_URL
    };
  },
  computed: {
    ...mapGetters(["getBalanceAcc"])
  },
  created: function() {
    AdminService.getUsers().end((err, res) => {
      if (res.status == 200) {
        this.data = res.body;
        this.$store.dispatch("setBalanceAcc", this.data);
        //   this.data = this.getBalanceAcc;
        this.show = true;
      } else {
        this.$notify({
          title: "Erreur",
          text: "Une erreur s'est produite, contactez l'administrateur!",
          duration: -1,
          type: "error"
        });
      }
    });
  },
  methods: {
    ActionToDo(route) {
      this.$router.push(route);
    },
    showModal(id) {
      this.currentId = id;
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    DeleteUser() {
      // console.log(this.data);
      AdminService.deleteUser(this.currentId).end((err, res) => {
        if (res.status == 200) {
          this.$notify({
            title: "Information",
            text: "Utilisateur supprimé avec succès!",
            duration: -1,
            type: "success"
          });

          for (let i = 0; i < this.$store.state.balanceAcc.length; i++) {
            const element = this.$store.state.balanceAcc[i];
            if (element.id == this.currentId) {
              this.$store.state.balanceAcc.splice(i, 1);
            }
          }

          this.isModalVisible = false;
        } else {
          this.$notify({
            title: "Erreur",
            text: "Une erreur est survenue!",
            duration: -1,
            type: "error"
          });
          this.isModalVisible = false;
        }
      });
    }
  }
};
</script>