<template>
  <div>
    <NavBarAdmin />
    <div class="flex content-center justify-center mt-32">
      <div class="w-8/12 rounded-lg overflow-hidden shadow-lg">
        <div class="px-6 py-4 border-t-2 border-b-2 border-gray-200 mb-4">
          <div class="font-bold text-xl mb-6 flex justify-between">
            <a class="cursor-default">Administrateur</a>
          </div>

          <p class="text-gray-700 text-base"></p>
        </div>

        <div class="h-auto">
          <div class="flex mb-4">
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Nom et prénom(s)</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="notary.name"
                disabled
              />
            </div>
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Email</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="notary.email"
                disabled
              />
            </div>
          </div>

          <div class="flex mb-10 mt-10">
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Téléphone</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="notary.phone"
                disabled
              />
            </div>
            <div class="px-6 w-1/2 h-12">
              <label class="text-gray-500 font-bold text-sm mb-2 block">Adresse Ethereum Publique</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                v-model.trim="notary.publickey"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBarAdmin from "@/components/NavBarAdmin.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBarAdmin
  },
  data() {
    return {
      notary: {
        name: "",
        email: "",
        publickey: "",
        phone: ""
      }
    };
  },
  computed: {
    ...mapGetters(["getNotary"])
  },
  created: function() {
    this.notary.name = this.getNotary.name;
    this.notary.email = this.getNotary.email;
    this.notary.publickey = this.getNotary.publickey;
    this.notary.phone = this.getNotary.phone;
  }
};
</script>