<template>
  <div>
    <div class="flex justify-center">
      <div class="w-full items-center">
        <!-- <h1 class="text-center text-4xl font-serif my-8 mx-4">Localisation de la parcelle</h1> -->

        <div v-if="starting">
          <l-map style="height: 700px;" :zoom="zoom" :center="center" v-if="show">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-geo-json :geojson="geojson" :options-style="styleFunction"></l-geo-json>
          </l-map>
        </div>

        <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mt-32" v-else>
          <p
            class="font-bold text-sm mb-2 uppercase font-serif tracking-widest"
          >Aucune information disponible.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NotaryService from "@/services/NotaryService";
import { LMap, LTileLayer, LGeoJson } from "vue2-leaflet"; //LMarker

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson
    // LMarker
  },
  data() {
    //POUR UN AFFICHAGE PLUS GLOBAL, JE PEUX MODIFIER LE CENTRE, LE ZOOM ET COMMENTER LES LIGNES DE CODES QUI PARTICIPENT A GENERER LES VALEURS DU CENTRE
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 14, 
      center: [0, 0], //[6.3808, 2.4220],
      // geojson: null,
      fillColor: "red", //"#e4ce7f",
      show: false,
      starting: false,
      geojson: {
        type: "FeatureCollection",
        features: []
      }
    };
  },
  computed: {
    styleFunction() {
      const fillColor = this.fillColor; // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 3,
          color: "#ECEFF1",
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 1
        };
      };
    }
  },
  created: function() {
    NotaryService.getLands().end((err, res) => {
      if (res.status == 200) {
        this.starting = true;
        const map = res.body.file;
        let lat = [];
        let lng = [];

        for (let i = 0; i < map.length; i++) {
          const element = map[i];
          const geometry_gson = JSON.parse(element[0].geometry);
          this.geojson.features.push(geometry_gson);

          const geojson_array = geometry_gson.coordinates[0];
          for (let i = 0; i < geojson_array.length; i++) {
            for (let j = 0; j < 2; j++) {
              if (j == 0) {
                lat.push(geojson_array[i][j]);
              }
              if (j == 1) {
                lng.push(geojson_array[i][j]);
              }
            }
          }
        }
        // console.log(this.geojson.features)
        const minValueLat = Math.min(...lat);
        const maxValueLat = Math.max(...lat);
        const minValueLng = Math.min(...lng);
        const maxValueLng = Math.max(...lng);
        const inf = (maxValueLat + minValueLat) / 2;
        const sup = (maxValueLng + minValueLng) / 2;
        this.center = [sup, inf];

        this.show = true;
      } else {
        this.starting = false;
      }
    });
  }
};
</script>