<template>
  <div class="mt-32">
    <div class="w-full flex flex-col items-center">
      <svg
        class="h-20 w-20 mb-8 fill-current text-red"
        width="54"
        height="54"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M19.447 3.718l-6-3a1 1 0 00-.895 0l-5.63 2.815-5.606-1.869A1 1 0 000 2.613v13.001c0 .379.214.725.553.894l6 3a1.006 1.006 0 00.894 0l5.63-2.814 5.606 1.869a.999.999 0 001.316-.949V4.612a.996.996 0 00-.552-.894zM8 5.231l4-2v11.763l-4 2V5.231zM2 4l4 1.333v11.661l-4-2V4zm16 12.227l-4-1.334V3.231l4 2v10.996z"
        />
      </svg>

      <h1
        class="text-black font-bold uppercase font-serif text-2xl tracking-widest text-center pb-8"
      >Connexion</h1>

      <div class="m-width">
        <div
          class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
          role="alert"
          v-if="errors.state"
        >
          <div class="flex">
            <div class="py-1">
              <svg
                class="fill-current h-6 w-6 text-red-500 mr-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                />
              </svg>
            </div>
            <div>
              <p class="font-bold">Alerte</p>
              <p class="text-sm">{{errors.message}}</p>
            </div>
          </div>
        </div>

        <form
          class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 border border-blue-500"
          @submit="onSubmit"
          autocomplete="off"
        >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              required
              v-model.trim="user.email"
              placeholder="Email"
            />
            <p class="text-red-500 text-xs italic" v-if="error.email">{{error.email.join('\r\n')}}</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              required
              v-model.trim="user.password"
              placeholder="******************"
            />
            <p
              class="text-red-500 text-xs italic"
              v-if="error.password"
            >{{error.password.join('\r\n')}}</p>
          </div>

          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >Se connecter</button>
            <a
              class="cursor-pointer inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
              @click="goTo({name:'OwnerRegister'})"
            >Créer un compte?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import OwnerService from "@/services/OwnerService";
const jwt = require("jsonwebtoken");

export default {
  name: "LoginComponent",
  data() {
    return {
      error: {
        email: null,
        password: null
      },
      user: {
        email: "",
        password: ""
      },
      accountType: null,
      errors: { state: false, message: null }
    };
  },
  watch: {
    "user.email": function() {
      this.error.email = null;
      this.errors.state = false;
      this.errors.message = null;
    },
    "user.password": function() {
      this.error.password = null;
      this.errors.state = false;
      this.errors.message = null;
    }
  },
  methods: {
    goTo(route) {
      this.$router.push(route);
    },
    onSubmit(evt) {
      evt.preventDefault();
      OwnerService.login(this.user).end((err, res) => {
        if (res.status == 200) {
          // console.log(res.body);
          jwt.verify(
            res.body.token,
            process.env.VUE_APP_JWT_SK,
            (err, decoded) => {
              this.accountType = decoded.account;
            }
          );

          if (this.accountType == "owner") {
            this.$store.dispatch("setToken", res.body.token).then(() => {
              this.$store.dispatch("setUser", res.body.user);
              this.$router.push({ name: "OwnerPanel" });
            });
          } else if (this.accountType == "notary") {
            this.$store.dispatch("setTokenN", res.body.token).then(() => {
              this.$store.dispatch("setNotary", res.body.user);
              this.$router.push({ name: "NotaryPanel" });
            });
          } else if (this.accountType == "admin") {
            this.$store.dispatch("setTokenN", res.body.token).then(() => {
              this.$store.dispatch("setNotary", res.body.user);
              this.$router.push({ name: "AdminPanel" });
            });
          } else {
            this.errors.state = true;
            this.errors.message =
              "Connexion impossible, veuillez contacter l'administrateur.";
          }
        } else {
          if (res.body.errors) {
            this.error = res.body.errors;
          } else {
            this.errors.state = true;
            this.errors.message = res.body.message;
          }
        }
      });
    }
  }
};
</script>

<style scoped>
.m-width {
  width: 400px;
}
</style>