<template>
  <div>
    <ul class="list-none no-underline flex items-start space-x-10 font-mono text-blue-300 font-semibold text-sm">
      <li class="cursor-pointer" @click="ActionToDo({name:'Home'})">Accueil</li>
      <li class="cursor-pointer" @click="ActionToDo({name:'OwnerRegister'})">Inscription</li>
      <li class="cursor-pointer" @click="ActionToDo({name:'Login'})">Connexion</li>
      <li class="cursor-pointer" @click="ActionToDo({name:'LandsInMapForAll'})">Maps</li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    ActionToDo(route) {
      this.$router.push(route);
    }
  }
};
</script>