<template>
  <nav class="flex items-center justify-between flex-wrap bg-blue-400 p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <svg
        class="h-8 w-8 mr-2 fill-current text-white"
        width="54"
        height="54"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M19.447 3.718l-6-3a1 1 0 00-.895 0l-5.63 2.815-5.606-1.869A1 1 0 000 2.613v13.001c0 .379.214.725.553.894l6 3a1.006 1.006 0 00.894 0l5.63-2.814 5.606 1.869a.999.999 0 001.316-.949V4.612a.996.996 0 00-.552-.894zM8 5.231l4-2v11.763l-4 2V5.231zM2 4l4 1.333v11.661l-4-2V4zm16 12.227l-4-1.334V3.231l4 2v10.996z"
        />
      </svg>

      <span class="font-semibold text-xl tracking-tight">Secure LAND</span>
    </div>
    <div class="block lg:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-blue-lighter border-blue-light hover:text-white hover:border-white"
      >
        <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a
          @click="goTo({name:'OwnerPanel'})"
          class="cursor-pointer block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4"
        >Mon compte</a>
        <a
          @click="goTo({name:'OwnerBalance'})"
          class="cursor-pointer block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4"
        >Mes parcelles</a>
        <!-- <a
          @click="goTo({name:''})"
          class="cursor-pointer block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white"
        >Blog</a>-->
      </div>
      <div>
        <a
          @click="logout"
          class="cursor-pointer inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-400 hover:bg-white mt-4 lg:mt-0"
        >Déconnexion</a>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    goTo(route) {
      this.$router.push(route);
    },
    logout() {
      // console.log('here')
      this.$store.dispatch("setToken", null);
      this.$store.dispatch("setUser", null);
      this.$store.dispatch("setBalanceAcc", null);
      this.$router.push({ name: "Login" });
    }
  }
};
</script>