<template>
  <div>
    <NavBarNotary />

    <div class="flex justify-center">
      <div class="w-6/12 items-center">
        <h1 class="text-center text-4xl font-serif my-8 mx-4">Liste des anciens propriétaires</h1>
        <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <ul class="list-disc" v-for="oldOwner in oldOwners" :key="oldOwner.id">
            <li class="text-2xl capitalize">{{oldOwner.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
require("dotenv").config();
import NavBarNotary from "@/components/NavBarNotary.vue";
import NotaryService from "@/services/NotaryService";

export default {
  components: {
    NavBarNotary
  },
  data() {
    return {
      oldOwners: []
    };
  },
  created: function() {
    const jetonId = this.$store.state.route.params.jetonId;
    NotaryService.getLandHistorical(jetonId).end((err, res) => {
      if (res.status == 401 || res.status == 404 || res.status == 500) {
        this.$router.push({ name: "NotaryLandBalance" });

        this.$notify({
          title: "Avertissement",
          text: res.body.message,
          duration: -1,
          type: "warn"
        });
      }
      this.oldOwners = res.body;
      // console.log(res);
    });
  }
};
</script>