<template>
  <div>
    <NavBarNotary />

    <div v-if="show">
      <h1 class="text-center text-4xl font-serif uppercase my-8 mx-4">Parcelles</h1>

      <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto lg:px-8">
          <!--  sm:-mx-6 sm:px-6 lg:-mx-8  -->
          <div
            class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
          >
            <div class="pl-4" @click="ActionToDo({name:'NotaryStoreLand'})">
              <svg
                class="cursor-pointer h-12 w-12 fill-current text-blue-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 1.6a8.4 8.4 0 100 16.8 8.4 8.4 0 000-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"
                />
              </svg>
            </div>
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                  >Parcelles</th>
                  <th
                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                  >Bornes</th>
                  <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr v-for="f in data" :key="f.jeton">
                  <td class="px-6 py-4 whitespace-normal border-b border-gray-200">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img class="h-10 w-10 rounded-full" :src="baseUrl+'/tokens/'+f.image" alt />
                      </div>
                      <div class="ml-4">
                        <div class="text-sm leading-5 font-medium text-gray-900">{{f.titrefoncier}}</div>
                        <div class="text-sm leading-5 text-gray-500">{{f.description}}</div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                    <div class="text-sm leading-5 text-gray-900">Borne 1</div>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                    >({{f.borne1.lat}}, {{f.borne1.lng}})</span>
                    <div class="text-sm leading-5 text-gray-900">Borne 2</div>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                    >({{f.borne2.lat}}, {{f.borne2.lng}})</span>
                    <div class="text-sm leading-5 text-gray-900">Borne 3</div>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                    >({{f.borne3.lat}}, {{f.borne3.lng}})</span>
                    <div class="text-sm leading-5 text-gray-900">Borne 4</div>
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                    >({{f.borne4.lat}}, {{f.borne4.lng}})</span>
                    <div v-if="f.borne5.lat != '' && f.borne5.lng != '' ">
                      <div class="text-sm leading-5 text-gray-900">Borne 5</div>
                      <span
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                      >({{f.borne5.lat}}, {{f.borne5.lng}})</span>
                    </div>
                    <div v-if="f.borne6.lat != '' && f.borne6.lng != '' ">
                      <div class="text-sm leading-5 text-gray-900">Borne 6</div>
                      <span
                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                      >({{f.borne6.lat}}, {{f.borne6.lng}})</span>
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 whitespace-normal text-right border-b border-gray-200 text-sm leading-5 font-medium"
                  >
                    <a
                      @click="ActionToDo({name:'NotaryLandHistorical',params:{jetonId: f.jeton}})"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900"
                    >Historique</a>
                    <br />
                    <a
                      @click="ActionToDo({name:'NotaryLandInMap',params:{jetonId: f.jeton}})"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900"
                    >Localisation</a>
                    <br />
                    <a
                      @click="ActionToDo({name:'NotaryUpdateLand',params:{jetonId: f.jeton}})"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900"
                    >Modifier</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-20" v-else>
      <div class="w-3/6 items-center">
        <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <p>Aucune information disponible.</p>

          <div class="pl-4" @click="ActionToDo({name:'NotaryStoreLand'})">
            <svg
              class="cursor-pointer h-12 w-12 fill-current text-blue-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 1.6a8.4 8.4 0 100 16.8 8.4 8.4 0 000-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
require("dotenv").config();
import NavBarNotary from "@/components/NavBarNotary.vue";
import NotaryService from "@/services/NotaryService";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBarNotary
  },
  data() {
    return {
      show: false,
      data: [],
      baseUrl: process.env.VUE_APP_SERVER_BASE_URL
    };
  },
  computed: {
    ...mapGetters(["getBalanceAcc"])
  },
  created: function() {
    NotaryService.getTokens().end((err, res) => {
      // console.log(res)
      if (res.status == 200) {
        this.show = true;
        const file = res.body.file;
        const jeton = res.body.jeton;

        if (file.length == jeton.length) {
          for (let i = 0; i < file.length; i++) {
            file[i]["jeton"] = jeton[i];
          }
        }

        this.$store.dispatch("setBalanceAcc", file);
        this.data = this.getBalanceAcc;
      } else {
        this.$notify({
          title: "Erreur",
          text: "Une erreur s'est produite, contactez l'administrateur!",
          duration: -1,
          type: "error"
        });
      }
    });
  },
  methods: {
    ActionToDo(route) {
      this.$router.push(route);
    }
  }
};
</script>