<template>
  <div>
    <NavBarNotary />

    <div class="flex justify-center mt-20">
      <div class="w-full items-center">
        <h1 class="text-center text-4xl font-serif my-8 mx-4">Localisation de la parcelle</h1>

        <div v-if="starting == true">
          <l-map style="height: 600px" :zoom="zoom" :center="center" v-if="show == true">
            <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
            <l-geo-json :geojson="geojson" :options-style="styleFunction"></l-geo-json>
          </l-map>
        </div>

        <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4" v-else>
          <p>Aucune information disponible.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NotaryService from "@/services/NotaryService";
// import L from "leaflet";
import { LMap, LTileLayer, LGeoJson } from "vue2-leaflet"; //LMarker
import NavBarNotary from "@/components/NavBarNotary.vue";

export default {
  components: {
    NavBarNotary,
    LMap,
    LTileLayer,
    LGeoJson
    // LMarker
  },
  data() {
    return {
      url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 19,
      center: [0, 0],
      geojson: null,
      fillColor: "red", //"#e4ce7f",
      show: false,
      starting: true //false
    };
  },
  computed: {
    styleFunction() {
      const fillColor = this.fillColor; // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 3,
          color: "#ECEFF1",
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 1
        };
      };
    }
  },
  created: function() {
    const jetonId = this.$store.state.route.params.jetonId;
    NotaryService.showLocation(jetonId).end((err, res) => {
      const geometry = res.body.database[0].geometry;
      const geometry_gson = JSON.parse(geometry);
      const geojson_array = geometry_gson.coordinates[0];

      let lat = [];
      let lng = [];

      for (let i = 0; i < geojson_array.length; i++) {
        for (let j = 0; j < 2; j++) {
          if (j == 0) {
            lat.push(geojson_array[i][j]);
          }
          if (j == 1) {
            lng.push(geojson_array[i][j]);
          }
        }
      }

      const minValueLat = Math.min(...lat);
      const maxValueLat = Math.max(...lat);
      const minValueLng = Math.min(...lng);
      const maxValueLng = Math.max(...lng);

      const inf = (maxValueLat + minValueLat) / 2; //+ minValueLat;
      const sup = (maxValueLng + minValueLng) / 2; //+ minValueLng;

      this.center = [sup, inf];
      this.show = true;
      this.geojson = geometry_gson;
    });
  }
};
</script>