<template>
  <div>
    <NavBarNotary />

    <div class="flex content-center justify-center mt-32">
      <div>
        <h1
          class="text-black font-bold font-serif text-2xl tracking-widest text-center pb-8"
        >Ajouter une parcelle</h1>

        <div
          class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 shadow-md px-8 pt-6 pb-8 mb-4"
          role="alert"
          v-if="success.state"
        >
          <div class="flex">
            <div class="py-1">
              <svg
                class="fill-current h-6 w-6 text-blue-500 mr-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                />
              </svg>
            </div>
            <div>
              <p class="font-bold">Information</p>
              <p class="text-sm">{{success.message}}</p>
            </div>
          </div>
        </div>

        <form class="bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-4" autocomplete="off" @submit="onSubmit" v-else>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-titrefoncier"
              >Titre foncier</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-titrefoncier"
                type="text"
                required
                placeholder="Titre Foncier"
                v-model.trim="land.titrefoncier"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.titrefoncier"
              >{{error.titrefoncier.join('\r\n')}}</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="publickey"
              >Adresse publique Propriétaire</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="publickey"
                type="text"
                required
                placeholder="Adresse Publique Propriétaire"
                v-model.trim="publickey"
              />
              <p class="text-red-500 text-xs italic" v-if="error.publickey">{{error.publickey}}</p>
              <p
                class="text-red-500 text-xs italic"
                v-if="error.ownerid"
              >{{error.ownerid.join('\r\n')}}</p>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-description"
              >Description</label>
              <textarea
                required
                placeholder="Description"
                v-model.trim="land.description"
                id="land-description"
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 resize border rounded focus:outline-none py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              ></textarea>
              <p
                class="text-red-500 text-xs italic"
                v-if="error.description"
              >{{error.description.join('\r\n')}}</p>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne1-lat"
              >Borne 1 / Latitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne1-lat"
                type="text"
                placeholder="Borne 1 / Latitude"
                required
                v-model.trim="land.borne1.lat"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne1.lat"
              >{{error.borne1.lat.join('\r\n')}}</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne1-lng"
              >Borne 1 / Longitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne1-lng"
                type="text"
                placeholder="Borne 1 / Longitude"
                required
                v-model.trim="land.borne1.lng"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne1.lng"
              >{{error.borne1.lng.join('\r\n')}}</p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne2-lat"
              >Borne 2 / Latitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne2-lat"
                type="text"
                placeholder="Borne 2 / Latitude"
                required
                v-model.trim="land.borne2.lat"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne2.lat"
              >{{error.borne2.lat.join('\r\n')}}</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne2-lng"
              >Borne 2 / Longitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne2-lng"
                type="text"
                placeholder="Borne 2 / Longitude"
                required
                v-model.trim="land.borne2.lng"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne2.lng"
              >{{error.borne2.lng.join('\r\n')}}</p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne3-lat"
              >Borne 3 / Latitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne3-lat"
                type="text"
                placeholder="Borne 3 / Latitude"
                required
                v-model.trim="land.borne3.lat"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne3.lat"
              >{{error.borne3.lat.join('\r\n')}}</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne3-lng"
              >Borne 3 / Longitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne3-lng"
                type="text"
                placeholder="Borne 3 / Longitude"
                required
                v-model.trim="land.borne3.lng"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne3.lng"
              >{{error.borne3.lng.join('\r\n')}}</p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne4-lat"
              >Borne 4 / Latitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne4-lat"
                type="text"
                placeholder="Borne 4 / Latitude"
                required
                v-model.trim="land.borne4.lat"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne4.lat"
              >{{error.borne4.lat.join('\r\n')}}</p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="land-borne4-lng"
              >Borne 4 / Longitude</label>
              <input
                class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="land-borne4-lng"
                type="text"
                placeholder="Borne 4 / Longitude"
                required
                v-model.trim="land.borne4.lng"
              />
              <p
                class="text-red-500 text-xs italic"
                v-if="error.borne4.lng"
              >{{error.borne4.lng.join('\r\n')}}</p>
            </div>
            <p
              v-if="hidep"
              class="cursor-pointer text-blue-500 text-xs italic"
              @click="add"
            >Plus de bornes</p>
            <p
              v-else
              class="cursor-pointer text-blue-500 text-xs italic"
              @click="del"
            >Moins de bornes</p>
          </div>
          <div v-if="otherBorne">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="land-borne5-lat"
                >Borne 5 / Latitude</label>
                <input
                  class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="land-borne5-lat"
                  type="text"
                  placeholder="Borne 5 / Latitude"
                  v-model.trim="land.borne5.lat"
                />
                <p
                  class="text-red-500 text-xs italic"
                  v-if="error.borne5.lat"
                >{{error.borne5.lat.join('\r\n')}}</p>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="land-borne5-lng"
                >Borne 5 / Longitude</label>
                <input
                  class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="land-borne5-lng"
                  type="text"
                  placeholder="Borne 5 / Longitude"
                  v-model.trim="land.borne5.lng"
                />
                <p
                  class="text-red-500 text-xs italic"
                  v-if="error.borne5.lng"
                >{{error.borne5.lng.join('\r\n')}}</p>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="land-borne6-lat"
                >Borne 6 / Latitude</label>
                <input
                  class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="land-borne6-lat"
                  type="text"
                  placeholder="Borne 6 / Latitude"
                  v-model.trim="land.borne6.lat"
                />
                <p
                  class="text-red-500 text-xs italic"
                  v-if="error.borne6.lat"
                >{{error.borne6.lat.join('\r\n')}}</p>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                  for="land-borne6-lng"
                >Borne 6 / Longitude</label>
                <input
                  class="shadow appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  id="land-borne6-lng"
                  type="text"
                  placeholder="Borne 6 / Longitude"
                  v-model.trim="land.borne6.lng"
                />
                <p
                  class="text-red-500 text-xs italic"
                  v-if="error.borne6.lng"
                >{{error.borne6.lng.join('\r\n')}}</p>
              </div>
            </div>
          </div>

          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >Sauvegarder</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import NotaryService from "@/services/NotaryService";
import NavBarNotary from "@/components/NavBarNotary.vue";
import { mapGetters } from "vuex";
var deepEqual = require("deep-equal");

export default {
  components: {
    NavBarNotary
  },
  data() {
    return {
      hidep: true,
      otherBorne: false,
      publickey: "",
      land: {
        ownerid: "",
        createdby: "",
        titrefoncier: "",
        description: "",
        borne1: {
          lat: "",
          lng: ""
        },
        borne2: {
          lat: "",
          lng: ""
        },
        borne3: {
          lat: "",
          lng: ""
        },
        borne4: {
          lat: "",
          lng: ""
        },
        borne5: {
          lat: "",
          lng: ""
        },
        borne6: {
          lat: "",
          lng: ""
        }
      },
      error: {
        publickey: null,
        ownerid: null,
        titrefoncier: null,
        description: null,
        borne1: {
          lat: null,
          lng: null
        },
        borne2: {
          lat: null,
          lng: null
        },
        borne3: {
          lat: null,
          lng: null
        },
        borne4: {
          lat: null,
          lng: null
        },
        borne5: {
          lat: null,
          lng: null
        },
        borne6: {
          lat: null,
          lng: null
        }
      },
      success: { state: false, message: null }
    };
  },
  computed: {
    ...mapGetters(["getBalanceAcc", "getNotary"])
  },
  watch: {
    publickey: function() {
      this.error.publickey = null;
      this.error.ownerid = null;
    },
    "land.titrefoncier": function() {
      this.error.titrefoncier = null;
    },
    "land.description": function() {
      this.error.description = null;
    },
    "land.borne1.lat": function() {
      this.error.borne1.lat = null;
    },
    "land.borne1.lng": function() {
      this.error.borne1.lng = null;
    },
    "land.borne2.lat": function() {
      this.error.borne2.lat = null;
    },
    "land.borne2.lng": function() {
      this.error.borne2.lng = null;
    },
    "land.borne3.lat": function() {
      this.error.borne3.lat = null;
    },
    "land.borne3.lng": function() {
      this.error.borne3.lng = null;
    },
    "land.borne4.lat": function() {
      this.error.borne4.lat = null;
    },
    "land.borne4.lng": function() {
      this.error.borne4.lng = null;
    },
    "land.borne5.lat": function() {
      this.error.borne5.lat = null;
    },
    "land.borne5.lng": function() {
      this.error.borne5.lng = null;
    },
    "land.borne6.lat": function() {
      this.error.borne6.lat = null;
    },
    "land.borne6.lng": function() {
      this.error.borne6.lng = null;
    }
  },
  methods: {
    onSubmit(evt) { 
      evt.preventDefault();
      NotaryService.getOwner(this.publickey).end((err, res) => {
        if (res.status == 404 || res.status == 500) {
          this.error.publickey = "Utilisateur introuvable";
        }
        this.land.ownerid = res.body.id;

        if (this.land.ownerid != null) {
          this.land = {
            ownerid: this.land.ownerid,
            createdby: this.getNotary.id,
            titrefoncier: this.land.titrefoncier,
            description: this.land.description,
            borne1: {
              lat: this.land.borne1.lat,
              lng: this.land.borne1.lng
            },
            borne2: {
              lat: this.land.borne2.lat,
              lng: this.land.borne2.lng
            },
            borne3: {
              lat: this.land.borne3.lat,
              lng: this.land.borne3.lng
            },
            borne4: {
              lat: this.land.borne4.lat,
              lng: this.land.borne4.lng
            },
            borne5: {
              lat: this.land.borne5.lat,
              lng: this.land.borne5.lng
            },
            borne6: {
              lat: this.land.borne6.lat,
              lng: this.land.borne6.lng
            }
          };

          let tokens;
          if (this.getBalanceAcc == null) {
            tokens = 0;
          } else {
            tokens = this.getBalanceAcc;
          }

          let stopp;

          if (tokens != 0) {
            for (let i = 0; i < tokens.length; i++) {
              const element = tokens[i];
              if (
                (deepEqual(this.land.borne1, element.borne1) &&
                  deepEqual(this.land.borne2, element.borne2) &&
                  deepEqual(this.land.borne3, element.borne3) &&
                  deepEqual(this.land.borne4, element.borne4) &&
                  deepEqual(this.land.borne5, element.borne5) &&
                  deepEqual(this.land.borne6, element.borne6)) ||
                deepEqual(this.land.titrefoncier, element.titrefoncier)
              ) {
                stopp = true;
              }
            }
          } else {
            stopp = false;
          }

          if (stopp == true) {
            this.$notify({
              title: "Avertissement",
              text:
                "Cette parcelle ne peut pas être ajoutée car elle a déjà été enregistrée!",
              duration: -1,
              type: "error"
            });
          } else {
            NotaryService.storeLand(this.land).end((err, res) => {
              if (res.status == 412) {
                this.error = {
                  ownerid: res.body.errors.ownerid,
                  titrefoncier: res.body.errors.titrefoncier,
                  description: res.body.errors.description,
                  borne1: {
                    lat: res.body.errors["borne1.lat"],
                    lng: res.body.errors["borne1.lng"]
                  },
                  borne2: {
                    lat: res.body.errors["borne2.lat"],
                    lng: res.body.errors["borne2.lng"]
                  },
                  borne3: {
                    lat: res.body.errors["borne3.lat"],
                    lng: res.body.errors["borne3.lng"]
                  },
                  borne4: {
                    lat: res.body.errors["borne4.lat"],
                    lng: res.body.errors["borne4.lng"]
                  },
                  borne5: {
                    lat: res.body.errors["borne5.lat"],
                    lng: res.body.errors["borne5.lng"]
                  },
                  borne6: {
                    lat: res.body.errors["borne6.lat"],
                    lng: res.body.errors["borne6.lat"]
                  }
                };
              } else if (
                res.status == 500 ||
                res.status == 404 ||
                res.status == 406
              ) {
                //On pourrait avoir d'autre cas mais ce serait vraiment des erreurs inconnus mais on a les erreurs suivantes qu'on peut gérer de afin de fournir un message plus clair
                // res.body.message en cas d'erreur 404 quand on veut miner sur compte admin donne ceci <<Cannot find owner account>>
                // res.body.message en cas d'erreur 500 quand on veut miner un token existant donne ceci <<Returned error: VM Exception while processing transaction: revert Require unique token>>
                this.$notify({
                  title: "Avertissement",
                  text:
                    "Une erreur s'est produite, contactez l'administrateur!",
                  duration: -1,
                  type: "error"
                });
              } else {
                this.success.state = true;
                this.success.message = "Parcelle ajoutée avec succès!";
              }
            });
          }
        }
      });
    },
    add(evt) {
      evt.preventDefault();
      this.otherBorne = true;
      this.hidep = false;
    },
    del(evt) {
      evt.preventDefault();
      this.otherBorne = false;
      this.hidep = true;
    }
  }
};
</script>