<template>
  <div class="mt-8">
    <div class="w-full flex flex-col items-center">
      <svg
        class="h-20 w-20 mb-8 fill-current text-red"
        width="54"
        height="54"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M19.447 3.718l-6-3a1 1 0 00-.895 0l-5.63 2.815-5.606-1.869A1 1 0 000 2.613v13.001c0 .379.214.725.553.894l6 3a1.006 1.006 0 00.894 0l5.63-2.814 5.606 1.869a.999.999 0 001.316-.949V4.612a.996.996 0 00-.552-.894zM8 5.231l4-2v11.763l-4 2V5.231zM2 4l4 1.333v11.661l-4-2V4zm16 12.227l-4-1.334V3.231l4 2v10.996z"
        />
      </svg>

      <h1
        class="text-black font-bold uppercase font-serif text-xl tracking-widest text-center pb-8"
      >Inscription</h1>

      <div class="m-width">
        <div
          class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md"
          role="alert"
          v-if="success.state"
        >
          <div class="flex">
            <div class="py-1">
              <svg
                class="fill-current h-6 w-6 text-blue-500 mr-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                />
              </svg>
            </div>
            <div>
              <p class="font-bold">Information</p>
              <p class="text-sm">{{success.message}}</p>
              <a
                class="cursor-pointer inline-block font-bold text-sm text-blue-500 hover:text-blue-800"
                @click="goTo({name:'Login'})"
              >Se connecter</a>
            </div>
          </div>
        </div>

        <form
          class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 border border-blue-500"
          autocomplete="off"
          @submit="onSubmit"
          v-else
        >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="Email"
              v-model.trim="user.email"
              required
            />
            <p class="text-red-500 text-xs italic" v-if="error.email">{{error.email.join('\r\n')}}</p>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Nom et prénom(s)</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="name"
              type="text"
              placeholder="Nom et prénom(s)"
              v-model.trim="user.name"
              required
            />
            <p class="text-red-500 text-xs italic" v-if="error.name">{{error.name.join('\r\n')}}</p>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Téléphone</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="phone"
              type="text"
              placeholder="Téléphone"
              v-model.trim="user.phone"
              required
            />
            <p class="text-red-500 text-xs italic" v-if="error.phone">{{error.phone.join('\r\n')}}</p>
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="publickey"
            >Adresse Ethereum</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="publickey"
              type="text"
              placeholder="Adresse Ethereum"
              v-model.trim="user.publickey"
              required
            />
            <p
              class="text-red-500 text-xs italic"
              v-if="error.publickey"
            >{{error.publickey.join('\r\n')}}</p>
          </div>

          <!-- <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="account">Compte</label>
          <div class="relative">
            <select
              class="bg-white appearance-none shadow border w-full py-2 px-3 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              v-model.trim="user.account"
              required
            >
              <option value>Sélectionner</option>
              <option value="admin">Administrateur</option>
              <option value="notary">Notaire</option>
              <option value="owner">Propriétaire</option>
            </select>

            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <p class="text-red-500 text-xs italic" v-if="error.account">{{error.account.join('\r\n')}}</p>
          </div>-->

          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="******************"
              v-model.trim="user.password"
              required
            />
            <p
              class="text-red-500 text-xs italic"
              v-if="error.password"
            >{{error.password.join('\r\n')}}</p>
          </div>

          <div class="mb-6">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="password_confirmation"
            >Confirmer le mot de passe</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password_confirmation"
              type="password"
              placeholder="******************"
              v-model.trim="user.password_confirmation"
              required
            />
            <p
              class="text-red-500 text-xs italic"
              v-if="error.password_confirmation"
            >{{error.password_confirmation.join('\r\n')}}</p>
          </div>

          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >Créer un compte</button>
            <a
              class="cursor-pointer inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
              @click="goTo({name:'Login'})"
            >Se connecter?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import OwnerService from "@/services/OwnerService";

export default {
  name: "Register",
  data() {
    return {
      user: {
        email: "",
        name: "",
        phone: "",
        publickey: "",
        account: "owner",
        password: "",
        password_confirmation: ""
      },
      error: {
        email: null,
        name: null,
        phone: null,
        publickey: null,
        password: null,
        password_confirmation: null
      },
      success: { state: false, message: null },
      errors: { state: false, message: null }
    };
  },
  watch: {
    "user.email": function() {
      this.error.email = null;
    },
    "user.name": function() {
      this.error.name = null;
    },
    "user.phone": function() {
      this.error.phone = null;
    },
    "user.publickey": function() {
      this.error.publickey = null;
    },
    "user.password": function() {
      this.error.password = null;
    },
    "user.password_confirmation": function() {
      this.error.password_confirmation = null;
    }
  },
  methods: {
    goTo(route) {
      this.$router.push(route);
    },
    onSubmit(evt) {
      evt.preventDefault();
      OwnerService.register(this.user).end((err, res) => {
        if (res.status == 201) {
          this.success.state = true;
          this.success.message = "Compte créé avec succès.";
        } else if (res.status == 500) {
          this.errors.state = true;
          this.errors.message = "Erreur interne au serveur.";
          // console.log(this.errors.message);
        } else {
          this.error = res.body.errors;
          // console.log(res.body.errors)
        }
      });
    }
  }
};
</script>

<style scoped>
.m-width {
  width: 400px;
}
</style>