<template>
  <div>
    <NavBar />
    <div class="flex justify-center">
      <div class="w-6/12 items-center">
        <h1 class="text-center text-4xl font-serif my-8 mx-4">Transfert de la parcelle</h1>

        <div v-if="show == true">
          <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
              <!-- <img :src=" require(`@/../../server/tokens/images/${land.image}`)" alt /> -->
              <img :src="baseUrl+'/tokens/'+land.image" />
            </div>

            <div
              class="border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">{{land.titrefoncier}}</div>
                <p class="text-gray-700 text-base">{{land.description}}</p>
              </div>
            </div>
          </div>

          <form
            class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4"
            autocomplete="off"
            @submit="onSubmit"
          >
            <div class="mb-4">
              <label
                class="block text-gray-700 text-sm font-bold mb-2"
                for="publickey"
              >Adresse du récepteur</label>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Saississez l'adresse public Ethereum du récepteur"
                id="publickey"
                v-model.trim="user.recipientKey"
                required
              />
            </div>

            <div class="flex">
              <!-- items-center justify-center -->
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
              >Transférer</button>
            </div>
          </form>
        </div>

        <div v-else>
          <div class="text-center bg-gray-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <p>Aucune information disponible.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
require("dotenv").config();
import OwnerService from "@/services/OwnerService";
import NavBar from "@/components/NavBar.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBar
  },
  data() {
    return {
      user: {
        recipientKey: ""
      },
      land: {
        borne1: {
          lat: "",
          lng: ""
        },
        borne2: {
          lat: "",
          lng: ""
        },
        borne3: {
          lat: "",
          lng: ""
        },
        borne4: {
          lat: "",
          lng: ""
        },
        borne5: {
          lat: "",
          lng: ""
        },
        borne6: {
          lat: "",
          lng: ""
        },
        description: "",
        image: "",
        jeton: "",
        titrefoncier: ""
      },
      show: false,
      baseUrl: process.env.VUE_APP_SERVER_BASE_URL
    };
  },
  computed: {
    ...mapGetters(["getBalanceAcc"])
  },
  created: function() {
    OwnerService.showLocation(
      this.$store.state.route.params.jetonId
    ).end((err, res) => {
      if(res.status == 200) {
        this.show = true;
        this.land = res.body.file
      } else {
        // this.$router.push({ name: "OwnerBalance" });
        this.show = false;
      }
    });
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      const jetonId = this.$store.state.route.params.jetonId;
      OwnerService.transferTo(jetonId, this.user).end((err, res) => {
        if (res.status == 201) {
          this.$router.push({ name: "OwnerBalance" });

          this.$notify({
            title: "Information",
            text: "Transfert réussi!",
            duration: -1,
            type: "success"
          });
        } else {
          this.user.recipientKey = "";

          this.$notify({
            title: "Erreur",
            text:
              "Une erreur s'est produite. Vérifiez l'adresse du destinataire et réessayez!", //res.body.message
            duration: -1,
            type: "error"
          });
        }
      });
    }
  }
};
</script>