<template>
  <div>
    <NavBar />
    <div class="flex content-center justify-center mt-32">
      <div class="w-full max-w-xs">
        <h1 class="text-black font-bold font-serif text-4xl tracking-widest text-center">Formulaire</h1>
        <p
          class="text-gray-600 text-blue-400 text-bold text-xs italic pb-6 text-center font-bold"
        >Veuillez modifier l'information que vous souhaitez modifier puis valider le formulaire</p>

        <form
          class="bg-gray-200 shadow-md rounded px-8 pt-6 pb-8 mb-4"
          autocomplete="off"
          @submit="onSubmit"
        >
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              v-model.trim="user.email"
            />
            <p class="text-red-500 text-xs italic" v-if="error.email">{{error.email.join('\r\n')}}</p>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Nom et prénom(s)</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="name"
              type="text"
              v-model.trim="user.name"
            />
            <p class="text-red-500 text-xs italic" v-if="error.name">{{error.name.join('\r\n')}}</p>
          </div>

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Téléphone</label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="phone"
              type="text"
              v-model.trim="user.phone"
            />
            <p class="text-red-500 text-xs italic" v-if="error.phone">{{error.phone.join('\r\n')}}</p>
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
            <input
              class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="******************"
              v-model.trim="user.password"
            />
            <p
              class="text-red-500 text-xs italic"
              v-if="error.password"
            >{{error.password.join('\r\n')}}</p>
          </div>

          <div class="flex items-center justify-center">
            <button
              class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import OwnerService from "@/services/OwnerService";
import NavBar from "@/components/NavBar.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    NavBar
  },
  data() {
    return {
      user: {
        email: "",
        name: "",
        phone: "",
        password: ""
      },
      error: {
        email: null,
        name: null,
        phone: null,
        password: null
      },
      errors: { state: false, message: null }
    };
  },
  computed: {
    ...mapGetters(["getUser"])
  },
  created: function() {
    this.user.name = this.getUser.name;
    this.user.email = this.getUser.email;
    this.user.publickey = this.getUser.publickey;
    this.user.phone = this.getUser.phone;
  },
  watch: {
    "user.email": function() {
      this.error.email = null;
    },
    "user.name": function() {
      this.error.name = null;
    },
    "user.phone": function() {
      this.error.phone = null;
    },
    "user.password": function() {
      this.error.password = null;
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      OwnerService.update(this.user).end((err, res) => {
        // console.log(res);
        if (res.status == 200) {
          OwnerService.get().end((err, res) => {
            this.$store.dispatch("setUser", res.body[0]);

            //Notification
            this.$notify({
              title: "Information",
              text: "Informations modifiées avec succès!",
              duration: -1,
              type: "success"
            });

            this.$router.push({ name: "OwnerPanel" });
          });
        } else if (res.status == 500) {
          this.errors.state = true;
          this.errors.message = "Erreur interne au serveur.";
          console.log(this.errors.message);
        } else {
          this.error = res.body.data.errors;
        }
      });
    }
  }
};
</script>