<template>
  <div>
    <div class="max-w-md mt-64">
      <!-- rounded overflow-hidden shadow-lg -->
      <!-- <img class="w-full" src="../assets/images/bg2.png" /> -->

      <div class="px-6 py-4">
        <div class="font-bold text-5xl mb-2 uppercase font-serif tracking-widest">Sécuriser vos propriétés foncières</div>
        <!-- <p class="text-gray-700 text-base font-serif">Commencez par sécuriser vos propriétés foncières</p> -->
      </div>
    </div>
  </div>
  <!-- <div
    class="flex justify-center items-center border shadow-2xl bg-gray-500 bg-opacity-25 rounded w-3/6"
  >
    <div class="w-full">
      <div class="flex justify-between items-center">
        <div class="space-x-4 flex items-center">
          <svg
            class="h-12 w-12 ml-8 my-4 fill-current text-indigo-600"
            width="54"
            height="54"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M19.447 3.718l-6-3a1 1 0 00-.895 0l-5.63 2.815-5.606-1.869A1 1 0 000 2.613v13.001c0 .379.214.725.553.894l6 3a1.006 1.006 0 00.894 0l5.63-2.814 5.606 1.869a.999.999 0 001.316-.949V4.612a.996.996 0 00-.552-.894zM8 5.231l4-2v11.763l-4 2V5.231zM2 4l4 1.333v11.661l-4-2V4zm16 12.227l-4-1.334V3.231l4 2v10.996z"
            />
          </svg>
          <h1 class="font-serif text-lg font-medium">Secure LAND</h1>
        </div>
        <div>
          <ul class="list-none no-underline flex items-start space-x-5 mr-8">
            <li class="cursor-pointer" @click="ActionToDo({name:'Login'})">Connexion</li>
            <li class="cursor-pointer" @click="ActionToDo({name:'OwnerRegister'})">Inscription</li>
            <li class="cursor-pointer" @click="ActionToDo({name:'LandsInMapForAll'})">Maps</li>
          </ul>
        </div>
      </div>
    </div>
  </div>-->
</template>

<script>
export default {
  methods: {
    ActionToDo(route) {
      this.$router.push(route);
    }
  }
};
</script>

<style scoped>
</style>